<p id="notice"><%= notice %></p>

<p>
  <strong>Attendee List ID:</strong>
  <%= @attendee_list.id %>
</p>

<%= link_to 'Edit', edit_attendee_list_path(@attendee_list) %> |
<%= link_to 'Back', attendee_lists_path %>
