<h1>Redeem Reward</h1>


<p>Are you sure you want to redeem this reward?</p>

<p> <b>Reward Name:</b> <%= @reward.reward_name %> </p>
<p> <b>Points Required:</b> <%= @reward.reward_points %> </p>


<table>
      <thead>
        <tr>
          <th><%= button_to 'Yes', accept_reward_path(@reward), :method => :get %></td>
          <th><%= button_to 'Back to Reward List', rewards_path, :method => :get %></td>
        </tr>
      </thead>
</table>